openapi: 3.2.0
info:
  title: American Gene Technologies Content Search API
  version: wp/v2
  summary: The anonymously readable WordPress REST content API behind americangene.com.
  description: 'Read-only catalogue of the public WordPress REST API served from https://www.americangene.com/wp-json. It exposes American Gene Technologies'' corporate content as structured JSON: the gene therapy reference entries, the 53-item patent portfolio, 64 news releases, 75 in-the-news press items, 106 blog posts, 18 archived newsletters, the scientific and clinical advisory board, open positions, company milestones, the video library and video series, the Young Minds education series, 72 corporate pages, the 2,997-item media library, the associated taxonomies, cross-content search and the oEmbed 1.0 provider endpoint.


    This is NOT a developer product American Gene Technologies markets, and there is no AGT developer portal, API reference, getting-started guide or support channel for it. It is the company site''s own content surface, registered at /wp-json/ by WordPress and verified by API Evangelist to return data without credentials. Only operations that returned data anonymously are modelled here; every write route and the whole plugin-administration surface is excluded. Parameter and response schemas are taken verbatim from the OPTIONS self-description each route publishes.


    The upstream contract for the wp/v2 namespace is defined by the WordPress REST API Handbook.'
  contact:
    name: American Gene Technologies
    url: https://www.americangene.com/contact-us/
  x-derived-by: API Evangelist enrichment pipeline
  x-derived-from: https://www.americangene.com/wp-json/ route index + per-route OPTIONS self-description
  x-harvested: '2026-08-06'
servers:
- url: https://www.americangene.com/wp-json
  description: Production
security: []
tags:
- name: Search
paths:
  /wp/v2/search:
    get:
      operationId: search_content
      summary: Search across content types
      description: Cross-content search over the 409 indexed items on americangene.com. Returns lightweight result stubs (id, title, url, type, subtype) rather than full objects.
      tags:
      - Search
      parameters:
      - name: context
        in: query
        required: false
        schema:
          type: string
          enum:
          - view
          - embed
          default: view
        description: Scope under which the request is made; determines fields present in response.
      - name: page
        in: query
        required: false
        schema:
          type: integer
          default: 1
          minimum: 1
        description: Current page of the collection.
      - name: per_page
        in: query
        required: false
        schema:
          type: integer
          default: 10
          minimum: 1
          maximum: 100
        description: Maximum number of items to be returned in result set.
      - name: search
        in: query
        required: false
        schema:
          type: string
        description: Limit results to those matching a string.
      - name: type
        in: query
        required: false
        schema:
          type: string
          enum:
          - post
          - term
          - post-format
          default: post
        description: Limit results to items of an object type.
      - name: subtype
        in: query
        required: false
        schema:
          type: array
          default: any
          items:
            enum:
            - post
            - page
            - videos
            - blog
            - agt_advisors
            - agtjobs
            - video_series
            - young_minds
            - gene_therapies
            - milestones
            - in-the-news
            - news-releases
            - agt-newsletters
            - patent
            - category
            - post_tag
            - agt_video_category
            - blog_categories
            - agtjobcategories
            - blog_tags
            - video_series_categories
            - young_mind_categories
            - gene_therapy_phase
            - in-the-news-hiv-tag
            - new-releases-hiv-tag
            - blog-post-hiv-tag
            - pages-hiv-tag
            - featured-media
            - newsletter-hiv-tag
            - any
            type: string
        description: Limit results to items of one or more object subtypes.
      - name: exclude
        in: query
        required: false
        schema:
          type: array
          default: []
          items:
            type: integer
        description: Ensure result set excludes specific IDs.
      - name: include
        in: query
        required: false
        schema:
          type: array
          default: []
          items:
            type: integer
        description: Limit result set to specific IDs.
      responses:
        '200':
          description: A page of search results.
          headers:
            X-WP-Total:
              description: Total number of matching results.
              schema:
                type: integer
            X-WP-TotalPages:
              description: Total pages available.
              schema:
                type: integer
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/SearchResult'
        '400':
          $ref: '#/components/responses/BadRequest'
components:
  schemas:
    Error:
      type: object
      description: The WordPress REST API error envelope.
      properties:
        code:
          type: string
          description: A machine-readable error code, e.g. rest_post_invalid_id.
        message:
          type: string
          description: A human-readable error message.
        data:
          type: object
          description: Error context.
          properties:
            status:
              type: integer
              description: The HTTP status code.
          additionalProperties: true
      required:
      - code
      - message
    SearchResult:
      title: search-result
      type: object
      properties:
        id:
          description: Unique identifier for the object.
          type:
          - integer
          - string
        title:
          description: The title for the object.
          type: string
        url:
          description: URL to the object.
          type: string
          format: uri
        type:
          description: Object type.
          type: string
          enum:
          - post
          - term
          - post-format
        subtype:
          description: Object subtype.
          type: string
          enum:
          - post
          - page
          - videos
          - blog
          - agt_advisors
          - agtjobs
          - video_series
          - young_minds
          - gene_therapies
          - milestones
          - in-the-news
          - news-releases
          - agt-newsletters
          - patent
          - category
          - post_tag
          - agt_video_category
          - blog_categories
          - agtjobcategories
          - blog_tags
          - video_series_categories
          - young_mind_categories
          - gene_therapy_phase
          - in-the-news-hiv-tag
          - new-releases-hiv-tag
          - blog-post-hiv-tag
          - pages-hiv-tag
          - featured-media
          - newsletter-hiv-tag
  responses:
    BadRequest:
      description: Invalid parameter.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
  securitySchemes:
    applicationPassword:
      type: http
      scheme: basic
      description: WordPress Application Passwords (RFC 7617 Basic over TLS). Advertised by the API index at authentication.application-passwords with the authorization endpoint https://www.americangene.com/wp-admin/authorize-application.php. Not required for any operation in this document — every operation modelled here is anonymously readable.
externalDocs:
  description: WordPress REST API Handbook — the upstream contract for the wp/v2 namespace.
  url: https://developer.wordpress.org/rest-api/
